@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Open+sans:100,200,300,400,500,600,700|Amatic+SC:100,200,300,400,500,600,700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.7.2/flexslider.min.css");

/******************************remove unwanted general stylings*******************************/

.row {
    margin: 0;
}

.container {
    padding:0;
}


a:hover {
    text-decoration: none;
}

/******************************BACKGROUND COLOURS*******************************/

.bluebackground {
    background-color: #002060;
}

.oceanbackground {
    background-color: #1AA6B7;
}

.greybackground {
    background-color: #EBECF0;
}

.darkgreybackground {
    background-color:#8d99a5;
}

.whitebackground {
    background-color: #ffffff;
}

/******************************General Heading and Text Styles*******************************/

body {
    font-family: "Roboto", sans-serif;
    text-align: justify;
    font-size: 20px;
    color: #002060;
    margin: 0 0;
    padding: 0 0;
}

.titleheading {
    font-family: "Amatic SC", cursive;
    font-weight: bold;
    color: #002060;
    font-size: 3.0rem;
}

.largeheading {
    font-family: "Amatic SC", cursive;
    font-weight: bold;
    color: #002060;
    font-size: 3.0rem;
}

.mediumheading {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #002060;
    font-size: 1.5rem;
}

/******************************Buttons******************************/

.btn:hover {
    border-color: rgb(3, 94, 11);
    background-color: #03A89E;
    color:#fafafa;
}

.readmore-btn {
    background-color: rgb(3, 94, 11);  
    font-family: "Roboto", sans-serif;
    color: #fafafa;
    font-size: 1.25rem;
    font-weight: 500;
    border-radius: 8px;
    margin-top: 15px;
    padding: 5px 15px;
}

.readmore-btn:hover {
    background-color: #f05365;
    color: #fafafa;
}

/******************************Blockdividers******************************/

/**code below for hr fade styling taken from https://codepen.io/ibrahimjabbari/pen/ozinB**/

.block-divider {
    width: 250px;
    border: 0; 
    height: 2px; 
    background-image: -webkit-linear-gradient(left, #fafafa, #002060, #fafafa);
    background-image: -moz-linear-gradient(left, #fafafa, #002060, #fafafa);
    background-image: -ms-linear-gradient(left, #fafafa, #002060, #fafafa);
    background-image: -o-linear-gradient(left, #fafafa, #002060, #fafafa); 
}

.wide-block-divider {
    width: 75%;
    margin-top: 10px;
    margin-bottom: 20px;
}

/******************************HEADER&NAVBAR*******************************/

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    height: 110px;
    width: 100vw;
    display: flex;
}


main {
    margin-top: 110px;
}

.navbar-brand > img {
    max-height: 100px;
    max-width: 100px;
}

.container-fluid {
    padding: 0;
}

.navbar {
    width:100%;
}

.nav-item {
    width: 150px;
    margin: auto;
}

.navbar-dark .navbar-nav .nav-link {
    text-align: center;
    color: #fafafa;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}

.nav-item.active {
    color: #002060;
}

.navbar-dark .navbar-nav .active>.nav-link{
    color: #002060;
    font-weight: 600;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(240,83,101);
}

.dropdown-menu>a:hover {
    color: #fafafa;
    background-color: rgba(240,83,101,0.85);
}

.dropdown-item {
    text-align: center;
    color: #fafafa;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

.nav-link {
    padding: 5px;
}

/***********************************Flexslider Adjustments****************/

.flex-viewport {
    max-height: -o-calc(100vh - 110px); /* opera */
    max-height: -webkit-calc(100vh - 110px); /* google, safari */
    max-height: -moz-calc(100vh - 110px); /* firefox */
}

.flex-viewport .slides img {
    width: 100%;
    display: block;
    margin: 0 auto;
    height: auto;
}

.flexslider {
    border: 0px;
    position: relative;
    margin: 0 0 40px;
}

.imageoverlay{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(0,0,0,0.35);
}

.overlaytext{
    font-family: "Amatic SC", cursive;
    font-weight: bold;
    color: #ffffff;
    font-size: 8.0rem;
}


.overlayIcon{
    font-size: 5.0rem;
    color: #ffffff;
}

/*******************************Show Cards********************************/
.container-information {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

.showcardContainer {
    border: 10px solid white;
}

.showcard {
    padding: 15px 15px 20px 15px;
    width: 100%;
    border: 0px;
    border-radius: 8px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.15);
}

.showcard img {
    margin-bottom: 10px;
    border-radius: 8px;
}

.showcard p {
    height: 0px;
    overflow: hidden;
}

.showcardLink {
    color: #002060;
    font-weight: bold;
}

.showcardLink:hover {
    color: #f05365;
}
.showContent p {
    height: auto;
}

.showContent a.readmore-btn {
    background-color: #f05365;
}

.showContent a.readmore-btn:hover {
    background-color: rgb(3, 94, 11);
    color: #fafafa;
    text-decoration: none;
}

/**********************************Video**********************************/

.iframeContainer {
  overflow: hidden;
  /* 16:9 aspect ratio */
  padding-top: 56.25%;
  position: relative;
}

.iframeContainer iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

/***********************************FOOTER********************************/

footer .row {
    display:flex;
    justify-content: center;
}

.footercontent {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.footercontent a {
    color: #ffffff;
    font-size: 3rem;
    margin: 20px;
}

.footercontent a:hover {
    color: #f05365;
}

/***********************************Mobile Content Adjustment********************************/

/**Large & below**/

@media (max-width: 1199.98px) {
    .nav-item{
        border-bottom: solid 1px white;
        width: 100%;
    }

    .overlaytext{
    font-size: 6.0rem;
    }

    .overlayIcon{
    font-size: 4.0rem;
    }   

}

/**Medium & below**/

@media (max-width: 991.98px) {

    body {
        font-size:18px;
    }

    .titleheading {
        font-size: 2.5rem;
    }

    .nav-item {
        width: 100%;
        margin: auto;
    }

    .overlaytext{
    font-size: 5.0rem;
    }

    .overlayIcon{
    font-size: 3.0rem;
    }

    .footercontent {
    padding: 5px;
    }

    .footercontent a {
    font-size: 2rem;
    margin: 10px;
    }

}

/**Small & Below**/

@media (max-width: 767.98px) {

    body {
        font-family: "Roboto", sans-serif;
        text-align: justify;
        font-size: 16px;
    }

    .titleheading{
        font-size: 2rem;
    }

    header {
        height: 75px;
    }

    main {
        margin-top: 75px;
    }

    .flex-viewport {
        max-height: -o-calc(100vh - 75px); /* opera */
        max-height: -webkit-calc(100vh - 75px); /* google, safari */
        max-height: -moz-calc(100vh - 75px); /* firefox */
    }

    .navbar-brand > img {
        max-height: 70px;
        max-width: 70px;
        padding: 10px;
    }

    .overlaytext{
    font-size: 4.0rem;
    }

    .overlayIcon{
    font-size: 3.0rem;
    }

}

/**Extra Small & Below**/

@media (max-width: 575.98px) { 

    body {
        text-align: left;
    }

    .titleheading{
        font-size: 1.75rem;
    }

    .navbar-brand > img {
        max-height: 60px;
        max-width: 60px;
        padding: 5px;
    }


    .navbar-toggler{
        padding-left: 6px;
        padding-right:6px;
    }

    .flex-viewport .slides img {
        width: auto;
        display: block;
        margin: 0 auto;
        height: 350px;
    }

}

/**IPhone 5 Styling**/

@media (max-width: 400.98px) { 

    .navbar-brand > img {
        max-height: 45px;
        max-width: 45px;
        padding: 5px;
    }

    .titleheading{
        font-size: 1.5rem;
    }

    .navbar-toggler{
        padding-left: 4px;
        padding-right: 4px;
    }

}
